$rosewater: #f5e0dc;
$flamingo: #f2cdcd;
$pink: #f5c2e7;
$mauve: #cba6f7;
$red: #f38ba8;
$maroon: #eba0ac;
$peach: #fab387;
$yellow: #f9e2af;
$green: #a6e3a1;
$teal: #94e2d5;
$sky: #89dceb;
$sapphire: #74c7ec;
$blue: #89b4fa;
$lavender: #b4befe;
$text: #cdd6f4;
$subtext1: #bac2de;
$subtext0: #a6adc8;
$overlay2: #9399b2;
$overlay1: #7f849c;
$overlay0: #6c7086;
$surface2: #585b70;
$surface1: #45475a;
$surface0: #313244;
$base: #1e1e2e;
$mantle: #181825;
$crust: #11111b;

* {
  min-height: 22px;
  font-size: 12px;
  font-family: "MonaspiceRn Nerd Font Propo";
}

tooltip {
  border-radius: 8px;
  background-color: $base;
  border: 1px solid $surface0;
}

tooltip,
tooltip *,
separator {
  min-height: 0;
}

tooltip label {
  color: $text;
  padding-left: 6px;
  padding-right: 6px;
}

menu {
  padding: 8px;
  color: $text;
  background: rgba($base, 0.7);
}

separator {
  background: $surface0;
}

window#waybar {
  background: transparent;

  & > box {
    background: rgba($base, 0.8);
    padding-top: 8px;
    padding-bottom: 8px;

    #workspaces {
      button {
        padding: 0;
        color: $text;
        font-weight: 400;
        border-radius: 6px;
        padding-right: 2px;
        padding-left: 2px;

        &.active {
          color: $mauve;
          font-weight: 700;
        }
      }
    }

    #custom-hsp {
      color: $text;
      margin-left: 8px;
      margin-right: 8px;
    }

    #custom-lhsp {
      color: $text;
      margin-left: 12px;
      margin-right: 12px;
    }


    #tray,
    #clock,
    #window,
    #battery,
    #pulseaudio,
    #backlight {
      color: $text;
    }

    #custom-arch {
      color: $sky;
      margin-left: 12px;
      padding: 3px 0;
    }

    #custom-logout,
    #custom-poweroff,
    #power-profiles-daemon {
      margin-right: 4px;
    }

    #custom-logout,
    #custom-poweroff {
      padding: 0 5px;
    }

    #custom-poweroff {
      color: $red;
      margin-right: 12px;
    }

    #custom-logout {
      color: $maroon;
    }

    #power-profiles-daemon.power-saver {
      color: $green;
      padding: 0 6px;
    }

    #power-profiles-daemon.balanced {
      color: $sky;
      padding: 0 4px;
    }

    #power-profiles-daemon.performance {
      color: $yellow;
      padding: 0 7px;
    }

    #battery,
    #backlight,
    #pulseaudio {
      margin-right: 14px;
    }
  }

  #taskbar button {
    padding: 2px 6px;
  }
  #taskbar button:active,
  #taskbar button:hover {
    background: transparent;
  }
  #taskbar button.active {
    background: rgba($text, 0.2);
  }
}
